@page
@model UNA.Web.Client.Pages.Produtos.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.DescricaoProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.DescricaoProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Ncm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Ncm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.UnidadeMedida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.UnidadeMedida.IdUnidadeMedida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Categoria.IdCategoria)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produto.IdProduto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
