@page
@model UNA.Web.Client.Pages.Produtos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.DescricaoProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.DescricaoProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Ncm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Ncm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.UnidadeMedida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.UnidadeMedida.CodUnidadeMedida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Categoria.DescricaoCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produto.IdProduto">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
